.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // margin-top fills in the white space of the clipped section with the color specified in this section
  // by stating a negative value, it is applied vertically
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * { // select the direct child(>), and everything within that (*)
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}


.section-stories {
  padding: 15rem 0;
  position: relative;// so absolute positioning of background video applies

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%, /*gradient is white at the left side*/
    rgba($color-white, .9) 50%, /*also white part way through*/
    transparent 50%), /*colour is then switched to transparent, giving a clip-path effect*/
    url(../img/nat-10.jpg); /*the background image can be more than one value, the linear gradient and the image*/
  background-size: 100%;
  border-radius: $br-small;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
