// FUNCTIONALITY
.card {
  perspective: 150rem; // this property needs to be on the parent element of which ever element you're targeting
  // the higher the value, the less dramatic perspective
  -moz-perspective: 150rem; // for this selector to work in mozilla firefox
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    backface-visibility: hidden; // keeps the back element hidden until hovered over
    border-radius: $br-small;
    overflow: hidden; // the images on the front of the cards were overflowing and removing the border radius 
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: darkgreen;
      transform: rotateY(
        180deg
      ); // the back of the card starts as half turned around

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light, $color-secondary-dark)
        
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light, $color-primary-dark)
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light, $color-tertiary-dark)
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg); // the minus makes the card turn to the left instead of the right
  }

  &:hover &__side--back {
    transform: rotateY(0deg); // the back flips back to the front when hovered
  }


  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; // newish property that works like photoshop colour editing/effects 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // for cross-browser compatibility
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // creates the angle on the image, with the value pairs corresponding to the top left corner then going clockwise
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light, $color-secondary-dark),
          url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light, $color-primary-dark),
          url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light, $color-tertiary-dark),
          url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute; // text sits ontop of image
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; // to work in chrome
    box-decoration-break: clone; // treats each text line as seperate entities and applies the rules for this element to each box, otherwise there is only padding at the beginning and end of the whole line

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, 85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, 85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, 85));
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  //FRONT SIDE STYLING
  &__cta {
    @include center-horizontal-vertical;
    text-align: center;
    width: 90%;
  }

  &__price-box {
    color: $color-white;
    text-align: center;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}