.popup {
  background-color: rgba($color-black, 0.9);
  height: 100vh;
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  //hide pop up initially
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    opacity: 1;
    width: 80%;
    @include center-horizontal-vertical;
    //margin: 7rem auto; doing the same job as mixin
    border-radius: $br-small;
    display: table;
    // treat the section as a table so the left and right sections can take up their whole height
    overflow: hidden; // will stop the non-rounded corners of the images overlapping the border radius of the content div
    opacity: 0;
    transform: translate(-50%, -50%) scale(0); // repeat the translate that occurs in the mixin - both values need to be present, otherwise any subsequent transform properties will override any previous
    transition: all .4s;
    display: flex;

    h2, h3 {
      @include respond(tab-port) {
        width: 100%;
        text-align: center;
      }
    }

    h2 {
      &.u-margin-bottom-small {
        @include respond(tab-port) {
          margin-bottom: 1rem !important;
        }
      }
    }

    h3 {
      &.u-margin-bottom-small {
        @include respond(tab-port) {
          margin-bottom: 0 !important;
        }
      }
    }

    .btn {
      @include respond(tab-port) {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;
    // instead of using float: left, treat sections as tables, so they can be the same height
    // float: left;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle; // this will align both left and right 'table cells' content
    // float: left;
    padding: 3rem 4rem 5rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // newer properties will need prefix's for broswer compatibility
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 4rem;
    column-gap: 4rem; // 1em = 14px (1.4rem)
    // default column-gap value is 1em (font size of element)
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-rule: 1px solid $color-grey-light-2; // dividing border between columns

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; // requires language to be set in html

    @include respond(phone) {
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  // open states (show popup)
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // target the content when pop up is open
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: $font-size-large;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      transition: all;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
