body {
  font-family: "Lato", sans-serif;
  font-family: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  /* padding: 30px; */
  /* to get 30px based on rem(10px) 30 / 10 = 3    */
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* margin-bottom: 60px; */
  margin-bottom: 6rem;

  &--main {
    display: block;
    /* font-size: 60px; */
    font-size: 6rem;
    font-weight: 400;
    /* letter-spacing: 35px; */
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    /* animation-iteration-count: 2; 
    the amount of times the animation will occur*/
    /* animation-delay: 3s; 
    the animation won't start until this timer has finished*/
  }
  
  &--sub {
    display: block;
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    /* letter-spacing: 17.4px; */
    letter-spacing: 1.75rem;
  
    /* rather than state each animation element, they can all come under animation only */
    animation: moveInRight ease-out 1s;
  }
}

.heading-secondary {
  font-size: 3.5rem; // 35px
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; // this cuts off the backgroundimage gradient fill where the text ends, rather than extending to the whole width of the section
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text; // clips the background to exactly where the text sits, the above gradient is only visible where text exists
  color: transparent; // the text has to be transparent, otherwise it sits overtop of the background gradient image
  letter-spacing: .2rem; // 2px - with miniscule amounts like this, px can be safely used and scalability won't be an issue
  transition: all .2s;

    &:hover {
      // transform: skewY(2deg) skewX(15deg) scale(1.1);
      transform: skew(15deg, 2deg) scale(1.1); // skew: X axis then Y
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) { //selecting everything EXCEPT the last child (not pseudo class)
    margin-bottom: 3rem;

  }
}