.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    ::before {
      background-color: $color-black;
      height: 30px;
      width: 5px;
      z-index: 1000;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s ease-in-out;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 1s cubic-bezier(0.56, -0.44, 0.48, 1.34);
  }

  &__list {
    @include center-horizontal-vertical;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: $font-size-large;
      font-weight: 300;
      color: $color-white;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }


  //ANIMATION
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px; //using px because we don't want the height to change dynamically
      background-color: $color-grey-dark-3;
      display: inline-block;
    }
    
    //psuedo elements need a display property to be set (above) & content to be set, to be visible
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {top: -.8rem;}
    &::after {top: 1rem;}
  }

  &__button:hover &__icon::before {
    // transform: translateY(-.1rem);
    top: -.9rem; 
  }
  
  &__button:hover &__icon::after {
    // transform: translateY(.1rem);
    top: 1.1rem; 
  }


  //when checkbox is selected, target directly adjacent sibling (menu icon)
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}


.popup {
  background-color: $color-black;
  opacity: .9;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;

  &__content {
    background-color: $color-white;
    opacity: 1;
    height: 80%;
    width: 80%;
    margin: 7rem auto;
  }
}
